.memory-game {
  border: 2px solid lime;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  perspective: 1000px;
}

.disable-pointer {
  pointer-events: none;
}